<%= render 'shared/errors', obj: @blog %>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@blog, :html => {class: "form-horizontal", multipart: true, role: "form"}) do |f| %>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :title %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :body %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :body, rows: 10, class: "form-control", placeholder: "Enter steps to create article" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= f.submit class: "btn btn-primary btn-lg btn-xlarge" %>
        </div>
      </div>
    <% end %>
    <div class="col-md-4 col-md-offset-4 colormatch">
      [ <%= link_to "Cancel request and return to articles listing", blogs_path %> ]
    </div>
  </div>
</div>
