<div class="row chat-container" style="padding-top: 10%; height:100%">
  <div class="col-md-8 center-block" style="height: 100%">
    <div align="center" style="position: fixed; bottom: 0; width: 100%; height: 80px; padding-right: 6%">
      <%= will_paginate @messages, previous_label: '<', next_label: '>', inner_window: 0 %>
    </div>
    <div class="message-container">
      <%= form_for(@message, remote: true, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <%= f.text_area :content, class: "form-control", data: { behavior: "room_speaker" }, :maxlength => 340, placeholder: "Pray for what you want to! " %>
        <%= f.submit "Send", class: 'btn btn-primary', data: { send: "message" } %>
      <% end %>
      <p class="count"><span id="count">0</span>/340</p>
    </div>
    <div class="messages" id="messages">
      <%= render @messages %>
    </div>
  </div>
</div>
