<!DOCTYPE html>
<html>
  <head>
    <title>PrayForOurWorld</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="A place where you can pray for the world about coronavirus, disasters, poverty, etc. Let's pray now!">
    <meta name="robots" content="nofollow">
    <meta property="og:title" content="PrayForOurWorld｜A place where you can pray for the world about coronavirus and more">
    <meta property="og:description" content="A place where you can pray for the world about coronavirus, disasters, poverty, etc. Let's pray now!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://pray-for-our-world.herokuapp.com/">
    <meta property="og:image"
     content="https://pray-for-our-world.herokuapp.com/assets/prayforourworld.png">
    <meta property="og:site_name" content="PrayForOurWorld">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@DevTwinz">
    <meta property="fb:app_id" content="239581963979502">
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    <div class="container">
      <%= yield %>
    </div>
    <div id="js-loader" class="loader">
      <div class="loader-animation"></div>
    </div>
  </body>
</html>
